.car_slider{
    width: 95%;
    margin: auto;

}

.car_slider_top{
display: grid;
grid-template-columns: auto auto;
margin: auto;
margin-top: 40px;
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
  font-size: 18px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
color: #383838;
max-width: 1280px;

gap: 10px;
}
.car_slider_top_1{
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
}
.car_slider_top_1 p{
        display: flex;
    align-items: center;
    gap: 10px;
    font-size: 24px;
}
.car_slider_top_2{
    width: 
    100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    max-width: 636px;
    margin: auto;
    margin-right: 0px;
}
.car_slider_top_2 p{
    font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
color: #383838;
}
.car_slider_top_2 button{
     font-family: "TT Hoves", Arial, sans-serif;
     color: #FFFFFF;
     background-color: #0A4BA9;
border: none;
opacity: 1;
border-radius: 5px;
gap: 6px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;
display: flex;
font-size: 18px;
align-items: center;
}
@media(max-width:991px){
    .car_slider_top{
    
    display: none;}

}



.car_slider_mid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;max-width: 1280px;
    margin: auto;
    margin-top: 20px;
}
.car_slider_mid_image_big_circle{
    width: 10px ;
    height: 10px;
    background-color: #E73C3B;
    border-radius: 50%;
}
.car_slider_mid_image_big{
    gap: 5px;
    background-color: #FFFFFFCC;
    height: 413px;
    border-radius: 16px;
    background: url("../img/243dfd3d6587d14768a27f2bd398ba8a5fb55e13.png");
    background-size: cover; padding: 20px;
}
.car_slider_mid_image_big p{
   
    height: auto;
    width: auto;
display: flex;
}
.car_slider_mid_image{
    display: grid;
    grid-template-columns: 1fr;
}
.car_slider_mid_image_big_p{ 
    background-color: #FFFFFFCC;
    display: flex;
    align-items: center;
    gap: 5px;
    border: none;
    border-radius: 100px;
    padding: 8px;
   
}
.car_slider_mid_image_smalls{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
        margin-top: 19px;
}
.car_slider_mid_image_small{
    height: 126px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.car_slider_mid_image_small button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    border-radius: 100px;
    padding: 10px 12px;
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;

}
.car_slider_mid_text_page{
    text-wrap: wrap;
}
.car_slider_mid_text h1{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
padding-top: 12px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
margin-bottom: 20px;

}
.car_slider_mid_text_p{
margin-top: 20px;
display: flex;
gap: 5px;
font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;

}
.car_slider_mid_rec{
    display: flex;
    justify-content: space-between;
    margin-top: 121px;
    align-items: center;
    margin-bottom: 25px;
}
.car_slider_mid_rec button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 241px;
height: 42px;

opacity: 1;
border-radius: 100px;
gap: 4px;
padding-top: 10px;
padding-right: 12px;
padding-bottom: 10px;
padding-left: 12px;
border: none;
background-color: #F28D00;
color: white;
}
.car_slider_mid_rec h4{
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;

}
.car_slider_svet{
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 26px;
    margin-bottom: 20px;
    font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}
.car_slider_pod{
    background-color: #383838;
    width: 187px;
height: 48px;
opacity: 1;
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #F9F9F9;
border-radius: 5px;
gap: 10px;
padding-top: 12px;
padding-right: 30px;
padding-bottom: 12px;
padding-left: 30px;
border: none;
display: flex; gap: 16px;
margin-top: 20px;
align-items: center;justify-content: center;
}
.car_slider_mid_image_big_p2{
    display: none;
}
.car_slider_mid_text_getIcon_1{
    display: none;
}
@media (max-width:812px) {
    .car_slider_mid{display: block;}
    .car_slider_mid_image_smalls{
        display: none;
    }
    .car_slider_mid_text_getIcon{
        display: flex;align-items: center;
        justify-content: space-between;
    }
    .car_slider_mid_text_getIcon_1{
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 10px;
    }
     .car_slider_mid_text_getIcon_1 div{
        width: 35px;
        height: 35px;
        padding: 6px;
        border-radius: 6px;
        border: 1px solid #DCDCDC4D;
        background: #F9F9F9;

     }
  
    .car_slider_mid_text h1{
        margin-top: 30px;
        font-size: 26px;
    }
    .car_slider_mid_rec h4 {
        font-size: 20px;
    }
    .car_slider_mid_rec {margin-top: 20px;}
    .car_slider_mid_rec{
        flex-wrap: wrap;
        gap: 20px;
    }
    .car_slider_mid_text_p{
        font-size: 16px;
        flex-wrap: wrap;
    }
    .car_slider_pod {
        width: 100%;
        font-size: 16px;
    }
    .car_slider_mid_image_big_p2{
        
        font-family: Manrope;
font-weight: 500;
font-style: Medium;
font-size: 12px;
leading-trim: NONE;
line-height: 140%;
letter-spacing: -1%;
background-color: #1B1B1B99;
color:  #F9F9F9;
border: none;
border-radius: 100px;
align-items: center;
gap: 10px;
display: flex;
padding: 8px;
    }
    .car_slider_mid_image_big{
               height: 248px;
        max-width: 379px;
        width: 90%;
        display: flex;
        align-items: end;
        margin: auto;
        justify-content: space-between;
    }
}

.red_circle{width: 12px;
height: 12px;
border-radius: 50%;background-color: #E73C3B;}
.yelow_circle{
    width: 12px;
height: 12px;
border-radius: 50%;background-color: #FFB614;
}
.green_circle{
    width: 12px;
height: 12px;
border-radius: 50%;background-color: #11B566;
}
.grey_circle{
    width: 12px;
height: 12px;
border-radius: 50%;background-color: #1B1B1B99;
}


.car_ochots{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    max-width: 1280px;
    margin: auto;
    gap: 20px;
  
    margin-top: 20px;
  

}
.car_ochot{
    background-color: white;padding: 20px;
    border-radius: 16px;
}
.car_ochot h1{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
margin-top: 25px;
margin-bottom: 20px;
}
.car_ochot_teg{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
     padding: 12px 0px
}
.car_ochot_teg h2{
      font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
  color: #383838;
  display: flex;
  align-items: center;gap: 5px;
}
.car_ochot_teg_p{
   display: flex;
   grid-column: 1fr 1fr;
   align-items: center;
   justify-content: flex-end;
   gap: 10px;
 
}
.car_ochot_teg_p_2{
    display: flex;
    gap: 7px;
}
.car_ochot_teg_p_2_mini{
    display: flex;
}

@media(max-width:750px){
    .car_ochots{
    display: grid;
    grid-template-columns: 1fr }
    .car_ochot h1 {
        font-size: 20px;
    }
    .car_ochot_teg h2 {
        font-size: 16px;
    }
    .car_ochot_teg_p{
        font-size: 16px;
        
    }
.car_ochot_teg_p_2{
    text-align: right;
    display: flex;
    justify-content: end;
 flex-wrap: wrap;
 align-items: start;
}
.car_ochot
 {
    background-color: white;
    padding: 6px;}
}
@media(max-width:750px){
    .car_ochots{
    display: grid;
    grid-template-columns: 1fr }
    .car_ochot h1 {
        font-size: 20px;
    }
    .car_ochot_teg h2 {
        font-size: 14px;
    }
    .car_ochot_teg_p{
        font-size: 14px;
        
    }
    .car_ochot_teg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;}
.car_ochot_teg_p_2{
    text-align: right;
    display: flex;
    justify-content: end;
 flex-wrap: wrap;
 align-items: start;
}
.car_ochot
 {
    background-color: white;
    padding: 6px;}
}












.vash_secrety{
    max-width: 1280px;
    margin: auto;
    width: 95%;
}

.vash_secrety p{
text-wrap: wrap;
}
.vash_secrety h1{
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
text-wrap: wrap;
    margin-top: 95px;
letter-spacing: 0%;
text-align: center;

}
.vash_secrety_p{
    color: #383838;
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
text-align: center;
text-wrap: wrap;
    margin: 15px;
    margin-bottom: 36px;

}
.vash_secrety_cards{display: flex;max-width: 846px;
margin: auto;
gap: 20px;
}
.vash_secrety_card_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.vash_secrety_card_title h2{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;

}
.vash_secrety_card{
    padding: 20px;
    background-color: white;
    border-radius: 16px;
}
.vash_secrety_card p{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
margin-top: 20px;
margin-bottom: 20px;
}
.vash_secrety_card button{
    display: flex;
gap: 6px;
border-radius: 5px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;
border: none;
background-color: #0A4BA9;
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: white;
}
@media(max-width:742px){
    .vash_secrety_cards{display: flex;max-width: 846px;
        flex-direction: column;
margin: auto;
gap: 20px;

}
.vash_secrety h1 {
  
    margin-top: 55px;

}
.vash_secrety h1{font-size: 26px;}
.vash_secrety_p {
    color: #383838;
    font-family: "TT Hoves", Arial, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    text-wrap: wrap;
    margin: 6px;
    margin-bottom: 20px;
}
.vash_secrety_card_title h2{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 20px;}
.vash_secrety_card p{
    font-size: 16px;
}
.vash_secrety_card {
    padding: 10px}
    .vash_secrety_card button {
        font-size: 16px;
    }
}




.yurist{
    max-width: 1276px;
    width: 95%;
    margin: auto;
}
.yurist_title{
display: flex;
justify-content: space-between;
align-items: center;
    margin-top: 158px;
}
.yurist_title h1{
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}
.yurist_title button{
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
gap: 6px;
border: none;
border-radius: 5px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;
background-color: #383838;
color: white;
}
.yurist_red{
     font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
background-color: #FFEAEA;
gap: 10px;
border-radius: 10px;
padding-top: 20px;
padding-right: 16px;
padding-bottom: 20px;
padding-left: 16px;
text-wrap: wrap;
    margin-top: 29px;
    margin-bottom: 30px;
}

.yurist_cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
}
.yurist_card {
padding: 23px;
background-color: #FFFFFF;
border-radius: 16px;
    margin-bottom: 13px;
}
.yurist_card p{
    text-wrap: wrap;
      font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
    margin-top: 15px;
}
.yurist_card h1{
       text-wrap: wrap;
         font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
color: #383838;
letter-spacing: 0%;

}
.yurist_button{
    display: none;
}
.yurist_card_title{
    display: grid;
   grid-template-columns: 1fr 14px;
}
@media(max-width:900px){
    .yurist_cards{
    display: grid;
    grid-template-columns: 1fr 1fr ;
    gap: 20px;
}
.yurist_title {
    margin-top: 45px;
}
}
@media(max-width:630px){
    .yurist_cards{
    display: grid;
    grid-template-columns: 1fr ;
    gap: 10px;
}
.yurist_title button{
    display: none;
}
.yurist_card p{
    display: none;
}
.yurist_card{
padding: 16px;
border-radius: 8px;
}
.yurist_title h1 {
    font-size: 26px;
}
.yurist_red {
    font-size: 16px;
}
.yurist_card_title h1{
    font-size: 16px;

}
.yurist_card_title{
    display: grid;
    align-items: center;
    grid-template-columns: auto 14px;
}
.yurist_button{
    display: block;
    background-color: #383838;
    border-radius: 6px;
    width: 100%;
opacity: 1;
border: none;
gap: 6px;
border-radius: 6px;
padding-top: 14px;
padding-right: 20px;
padding-bottom: 14px;
padding-left: 20px;
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 16px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: white;
margin-top: 20px;
}
}



.sena{
    max-width: 1276px;
    width: 95%;
    margin: auto;
}
.sena h1{
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
margin-top: 30px;
color: #383838;
    margin-top: 86px;
}
.sena_oneCard{
padding: 20px;
background-color: white;
margin-top: 15px;
border-radius: 16px;
margin-bottom: 30px;
}
.sena_urn_p2{
    font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
    margin-top: 19px;
}
.sena_oneCard h2{
text-wrap: wrap;
color: #383838;
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
    margin-top: 16px;
}
.sena_oneCard .sena_p{
text-wrap: wrap;
color: #383838;
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
/* padding: 15px; */
padding-bottom: 15px;
padding-top: 15px;
}
.sena_urns{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1.3fr 1.7fr;
}
.sena_urn_line{
    height: 11px;
    border-radius: 100px;
    background-color: #DCDCDC4D;
    margin-bottom: 10px;
}
.sena_urn_p{
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #1b1b1b93;
margin-top: 20px;
margin-bottom: 10px;
}
.sena_urns .sena_urn:nth-child(1) .sena_urn_line {
 background-color: #383838;
}
@media(max-width:830px){
    .sena_urns{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr;
}
.sena h1 {
    font-size: 26px;
    margin-top: 50px;
}
.sena_urns .sena_urn:nth-child(1) .sena_urn_line {
  width: 60%;
}

.sena_urns .sena_urn:nth-child(2) .sena_urn_line {
  width: 80%;
}

.sena_urns .sena_urn:nth-child(3) .sena_urn_line {
 width: 100%;
}
.sena_oneCard h2 {
    font-size: 20px;
}
.sena_oneCard .sena_p {
    font-size: 16px;
}
.sena_urn_p,.sena_urn_p2 {
    font-size: 16px;
}
}






/* SECTION */
.istoriya-section {
  padding: 24px;
  max-width: 1317px;
  margin: auto;
  width: 95%;
      margin-top: 82px;
}

/* HEADER */
.istoriya-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.istoriya-header-title {
 color: #383838;
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.istoriya-header-btn {
  background: #383838;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
gap: 6px;
border-radius: 5px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;

}

/* GRID */
.istoriya-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-top: 39px;
}

/* CARD */
.istoriya-card {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  margin-bottom: 14px;
}

/* CARD HEADER */
.istoriya-card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.istoriya-date {
  color: #383838;
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.istoriya-card-title {
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
  color: #383838;
  text-wrap: wrap;
  margin-top: 16px;
}

.istoriya-car-icon {
  width: 132px;
  height: 117px;
  background: #f2f2f2;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
}

/* ROWS */
.istoriya-rows {
  margin-top: 20px;
}

.istoriya-row {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  border-top: 1px solid #f0f0f0;
  font-size: 15px;
  margin-top: 2px;
}

.istoriya-row:first-child {
  border-top: none;
}

.istoriya-label {
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
  font-weight: 500;
}

.istoriya-value {
  color: #383838;
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.istoriya-price-down {
  color: #11B566;
  font-weight: 400;
  margin-left: 6px;
}

.istoriya-bad {
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

  color: #E73C3B;

}

/* BUTTON */
.istoriya-detail-btn {
  margin-top: 23px;
  background: #E6EDF6;
  color: #2f6fed;
  border: none;
font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
 

gap: 6px;
border-radius: 5px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;

}
.istoriya-header-btn_2{
    display: none;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .istoriya-grid {
    grid-template-columns: 1fr;
  }
  .istoriya-header-btn{
    display: none;
  }
  .istoriya-header-btn_2{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .istoriya-card-top{
    display: block;
  }
  .istoriya-value{
    display: flex;
    flex-direction: column;
    text-align: right;
  }
}
@media (max-width:700px){
    .istoriya-header-title {
        font-size: 26px;
    }
    .istoriya-section {
        padding: 13px;
    }
    .istoriya-date {
        font-size: 16px;
    }
    .istoriya-card-title {
        font-size: 20px;
    }
    
.istoriya-label,.istoriya-value  {
    font-size: 16px;

}
.istoriya-detail-btn {
    padding: 10px;
    width: 100%;
}
.istoriya-card {
    padding: 10px;
}
.istoriya-section {
    width: 100%;
    margin-top: 45px;
}
}






.step_pt{
      width: 95%;
    max-width: 1296px;
    margin: auto;
    margin-top: 55px;
}
.step_pt h1{
    font-family: "TT Hoves", Arial, sans-serif;
    text-wrap: wrap;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
margin-bottom: 30px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}
.step_pt_card_title {
    display: grid;
    grid-template-columns: 1fr 15px;
    align-items: safe;
}
.step_pt_card_title h2{
    display: flex;text-wrap: wrap;
    font-family: "TT Hoves", Arial, sans-serif;
}
.step_pt_card{
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 16px;
}
.step_pt_card p{
text-wrap: wrap;
font-family: "TT Hoves", Arial, sans-serif;
margin-bottom: 15px;
margin-top: 20px;
}
.step_pt_card p  b{
text-wrap: wrap;
}
@media (max-width:700px) {

    .step_pt_card {
        padding: 10px;
    }
    .step_pt h1 {
        font-size: 26px;
    }
    .step_pt_card_title h2 {
        font-size: 20px;
    }
    .step_pt_card p {
        font-size: 16px;
    }
}






.probeg{
  background:#fff;
  border-radius:16px;
  padding:28px;
  max-width:1276px;
  margin:auto;
}
.probeg_title{
    font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
max-width: 1276px;
width: 95%;
margin: auto;
    margin-top: 88px;
        margin-bottom: 30px;
}
.top{
  display:flex;
  justify-content:space-between;
  gap:20px;
  flex-wrap:wrap;
}

.left h3{
  font-size:14px;
  color:#666;
  margin-bottom:6px;
  font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.left h2{
  font-size:28px;
  font-weight:700;
    margin-top: 11px;
    margin-bottom: 18px;
}

.left p{
  font-size:14px;
  color:#777;
  max-width:720px;
  text-wrap: wrap;
  font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.status{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:14px;
  color:#383838;
  font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.status span{
  width:8px;
  height:8px;
  border-radius:50%;
  background:red;
}

/* ===== GRAPH ===== */

.chart{
  margin-top:30px;
}

.years{
  display:flex;
  justify-content:space-between;
  font-size:13px;
  color:#777;
  margin-top:10px;
}

/* ===== FOOTER ===== */

.footer{
  margin-top:14px;
  display:flex;
  align-items:center;
  gap:10px;
  font-size:13px;
  color:#aaa;
}

.switch{
  width:36px;
  height:20px;
  background:#eee;
  border-radius:20px;
  position:relative;
  font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

}

.switch::after{
  content:"";
  width:16px;
  height:16px;
  background:#fff;
  border-radius:50%;
  position:absolute;
  top:2px;
  left:2px;
}

/* ===== RESPONSIVE ===== */

@media (max-width:768px){
  .left h2{ font-size:22px; }
  .left h3 {font-size: 16px;}
  .status {font-size: 16px;}
  .probeg_title {font-size: 26px;
margin-top: 35px;}
}

@media (max-width:480px){
  .probeg{ padding:20px; }
  .left h2{ font-size:18px; }
}










.istoriya_card {
    background: #fff;
    border-radius: 12px;
    padding: 16px;max-width: 1260px;
    margin: auto;
    border-radius: 16px;
    padding: 20px;
}

.istoriya_card_top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.istoriya_card_top p {
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
}

.istoriya_card_top h6 {
    display: flex;
    align-items: center;
    gap: 6px;
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;

}

.istoriya_red_circle {
    width: 8px;
    height: 8px;
    background: red;
    border-radius: 50%;
}

.istoriya_item {
    display: flex;
    gap: 16px;
    /* margin-bottom: 28px; */
}
.istoriya_date{
    min-width: 254px;
        padding-top: 34px;
}
.istoriya_date span{
   
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;

    color: #383838;
    padding-bottom: 15px;
}
.istoriya_content{
        padding-top: 30px;
}
.istoriya_km {
    display: inline-block;
    margin-top: 6px;
    padding: 4px 10px;
    background: #1B1B1B99;
    border-radius: 20px;
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #F9F9F9;
margin-top: 12px;
    padding: 10px;
    margin-bottom: 10px;
}

.istoriya_line {
    position: relative;
    width: 20px;
}

.istoriya_line::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px;
    background: #ddd;
    transform: translateX(-50%);
}

.istoriya_circle {
    position: absolute;
    top: 4px;
    left: 50%;
    width: 10px;
    height: 10px;
    background: #fff;
    border: 2px solid #bbb;
    border-radius: 50%;
    transform: translateX(-50%);
}

.istoriya_content h3 {
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
text-wrap: wrap;
color: #383838;
    margin-bottom: 4px;
}

.istoriya_subtitle {
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-wrap: wrap;
    color: #383838;
    margin-bottom: 3px;
}

.istoriya_location {
  font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
text-wrap: wrap;
line-height: 120%;
letter-spacing: 0%;
    padding-bottom: 0px;
    padding-top: 12px;
}
.istoriya_date_2{
    display: none;
}
.istoriya_title{
    display: flex;
    justify-content: space-between;
        margin-top: 92px;
            margin-bottom: 33px;
}
.istoriya_title h1{
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 38px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
}
.istoriya_title button{
    background-color: #383838;
    border: none;
gap: 6px;
border-radius: 5px;
padding-top: 16px;
padding-right: 24px;
padding-bottom: 16px;
padding-left: 24px;
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
line-height: 120%;
letter-spacing: 0%;
color: white;

}
.istoriya{
    width: 95%;
    margin: auto;
    max-width: 1246px;
}
.istoriya_title_2 button{
    display: none;
}
@media (max-width:700px){
.istoriya_content{
width: 85%;
}
.istoriya_title {
    margin-top: 45px;
}
.istoriya_date{
    display: none;
}
.istoriya_date_2{
    display: block;
}
.istoriya_title button{
    display: none;
}
.istoriya_title_2 button{
    display: block;
    width: 100%;
    max-width: 500px;
    margin: auto;margin-bottom: 30px;
}
.istoriya_title h1{
    font-size: 26px;
}
.istoriya_card_top h6,.istoriya_card_top p {
    font-size: 16px;
}
.istoriya_content h3 {
    font-size: 20px;
}
}






.nash_modal{
    background-color: rgba(128, 128, 128, 0.514);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: end;
    align-items: start;
    position: fixed;
    top: 0px;
    left: 0px;
    /* display:none; */
   
}
#hard_modal_1{
    display:none;
}
#hard_modal_3{
    display: none;
}
.nash_modal_mid{
    height: 100%;
    background-color: #F9F9F9;
    width: 100%;
    max-width: 1100px; padding: 30px;
    overflow: auto;
}
.nash_modal_close{
    position: absolute;
    right: 40px;
    top: 20px;
    
}
.nash_modal h3{
font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 24px;
leading-trim: NONE;
line-height: 130%;
letter-spacing: 0%;
color: #383838;
text-wrap: wrap;

}
.nash_modal_mid img{
width: 100%;
margin-top: 15px;
}
.nash_modal p{
    font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;
margin-top: 20px;
margin-bottom: 20px;
background-color: #FFEAEA;
padding: 20px;
text-wrap: wrap;
}
.nash_modal h5{
 font-family: "TT Hoves", Arial, sans-serif;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
display: flex;
align-items: center;
line-height: 120%;
gap: 10px;
margin-top: 20px;
margin-bottom: 20px;
letter-spacing: 0%;
   color: #383838;
text-wrap: wrap;

}
.nash_modal span{
   font-family: "TT Hoves", Arial, sans-serif;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
text-wrap: wrap;

   color: #383838;
 
}
.nash_modal_mid_tab_active{
    font-weight: 600 !important;
    border-bottom: 3px solid #383838;
    padding-bottom: 10px;
}
.nash_modal_mid_action_card{
background-color: white;
margin-top: 20px;
}

.nash_modal_mid_action_card_title{
    background-color: #E6EDF6;
    font-family: TT Hoves;
font-weight: 600;
font-style: DemiBold;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
display: flex;
color: #0A4BA9;
padding: 10px;
align-items: center;
gap: 10px;
border-top-left-radius: 10px;
border-top-right-radius: 10px;

}
.nash_modal_mid_action_a {
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
}
#hard_modal_2{
    display: none;
}
.nash_modal_mid_action_a span, .nash_modal_mid_action_a a{
    display: flex;
    /* align-items: center; */
    gap: 10px;
}
 .nash_modal_mid_action_a a{
    text-decoration: none;
    color: #11B566;
 }


.nash_modal_mid_action_card_title_red{
    background-color: #FFEAEA;color: #E73C3B;
}
.nash_modal_mid_action_card_grid{
   display: flex;
   /* flex-wrap: wrap; */
   gap: 20px;
   border-bottom: 1px solid rgba(128, 128, 128, 0.082);
   padding: 12px;
}
.nash_modal_mid_action_card_grid span{
    min-width: 300px;
}
.nash_modal_mid_action_card_grid_p{
    min-width: 290px;
    text-wrap: wrap;
    max-width: 300px;
gap: 5px;
display: grid;
color: #1B1B1B99;
grid-template-columns: 20px auto;
}
.nash_modal_mid_tabs{
    display: flex;
    overflow: auto;
    gap: 20px;
    padding-bottom: 20px;
    padding-top: 2px;
}
.nash_modal_mid_tab{
    display: grid;
    grid-template-columns: auto 10px;

}
.nash_modal_mid_action_card_grid_p svg{
    position: relative;
    /* top: 4px; */
}
.mini_red_circle{
    width: 7px ;
    height: 7px;
    margin: auto;
    margin-right: 0px;
    margin-top: -1px;
    background-color: #E73C3B;
    border-radius: 50px;
}
.mini_orange_circle{
    width: 7px ;
    height: 7px;
    margin: auto;
    margin-right: 0px;
    margin-top: -1px;
    background-color: #F28D00;
    border-radius: 50px;
}
@media(max-width:700px){
    .nash_modal span,.nash_modal h5,.nash_modal p{
        font-size: 16px;
    }
    .nash_modal h3{
        font-size: 20px;
    }
    .nash_modal p{
        padding: 14px;
    }
    .nash_modal_mid_action_card_title{
        font-size: 16px;
        text-wrap: wrap;
    }
    .nash_modal_mid_action_card_grid{
   display: block;}
    .nash_modal_mid_action_a a{
  margin-top: 15px;
 }
}



#hard_modal_4{display: none;}
.car_image_modal{
    position: fixed;
    top: 0px;

    background-color: white;
    width: 100vw;
    height: 100vh;
    overflow: auto;
}
.car_image_modal_mid{
    width: 95%;
    margin: auto;
    max-width: 1394px;
}
.car_image_modal_mid_title{
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.car_image_modal_mid_filter{
    display: flex;
    gap: 10px;
    font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
position: relative;
align-items: center;
}
.car_image_modal_mid_filter_w{
    display: flex;
    justify-content: center;
    align-items: center;
}
.car_image_modal_mid_menu_ul{
    position: absolute;
    top: 50px;
    padding: 20px;
    background-color: white;
    left: 0px;
    box-shadow: 0px 4px 12.1px 0px #0000001A;
border-radius: 10px;
display: flex;
flex-direction: column;
gap: 15px;
}
.car_image_modal_mid_menu_li{
    font-family: TT Hoves;
font-weight: 400;
font-style: Regular;
font-size: 18px;
leading-trim: NONE;
line-height: 120%;
letter-spacing: 0%;
color: #383838;

}
.car_image_modal_mid_card_type{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #FFFFFFCC;
    width: 127;
height: 38;
angle: 0 deg;
opacity: 1;
top: 15px;
left: 15px;
padding: 8px;
gap: 6px;
border-radius: 100px;
padding: 8px;
border-radius: 100px;
margin: auto;
margin-left: 20px;
margin-top: 20px;max-width: 200px;
}
.car_image_modal_mid_menu_li_active{
    color: #0A4BA9;
}
.car_image_modal_mid_cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  height: 90vh;
}

/* 1-qator uchun */
.car_image_modal_mid_cards > :nth-child(1),
.car_image_modal_mid_cards > :nth-child(2) {
  grid-column: span 2;
}
.car_image_modal_mid_card{
    background-color: grey;
    height: 10 0%;width: 100%;
    min-height: 500px;
}
@media(max-width:800px){
    .car_image_modal_mid_cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  height: 90vh;
}
.car_image_modal_mid_cards > :nth-child(1),
.car_image_modal_mid_cards > :nth-child(2) {
  grid-column: span 1;
}
}
@media(max-width:500px){
.car_image_modal_mid_card{
   
    min-height: 300px;
}
}